* {
    margin: 0px;
    border-width: 0px;
    background-color: #353535;
    color: #7aa2f7;
}

/* ## php include Styles ## */

#header,
#footer {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    padding: 1rem;
}

#logo {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}

#header-links {
    width: 100rem;
}

#links * {
    background-color: #c0caf5;
    color: #353535;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}

/* ## General Styles ## */

.main-content * {
    margin-left: 1rem;
}

/* ## Picture Gallery Styles ## */

#gallery-header {
    text-align: center;
    padding-top: 3rem;
}

.picture-gallery {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 3rem;
}

.picture-gallery figure {
    display: none;
}

.picture-gallery img {
    width: 50rem;
    margin-bottom: 1rem;
}

.picture-gallery button {
    font-size: 5rem;
    color: #c0caf5;
}

.picture-gallery button:hover {
    color: #7aa2f7;
}

.thumbnail-display {
    display: flex;
    justify-content: center;
    margin: 3rem 1rem 2rem;
    border: 1px dotted #c0caf5;
    padding: 0px;
}

.thumbnail-display img {
    height: 5rem;
    width: 10rem;
    border: 10px solid transparent;
    margin-left: 0;
}

figure.active img,
img.active {
    border: 10px solid #c0caf5;
}

figure.active {
    display: block;
    width: 60rem;
    text-align: center;
    font-weight: bold;
}

/* ## F1 Schedule Table Styles ## */
#schedule-div {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#f1-schedule {
    width: fit-content;
    background-color: #353535;
    color: #7aa2f7;
    width: 90rem;
}

#f1-schedule th,
#f1-schedule td {
    border: 1px solid #c0caf5;
    padding: 6px;
    background-color: #353535;
    color: #7aa2f7;
}

#f1-schedule th,
#schedule-title-row th {
    background-color: #2a2a2a;
    color: #c0caf5;
    text-align: center;
}

#schedule-title-row th {
    font-size: larger;
}

/* Resume Page Styles */

#resume-page {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#resume-pdf {
    width: 70rem;
    height: 100rem;
}
