* {
    border-width: 0px;
    color: #7aa2f7;
    box-sizing: border-box;
}

html {
    background-color: #353535;
}

/* ## php include Styles ## */

#header,
#footer,
#links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

#logo {
    min-width: 50px;
    min-height: 50px;
    width: 3%;
    height: 3%;
    margin-left: 3%;
}

#header-links {
    width: 100%;
}

#links * {
    background-color: #c0caf5;
    color: #353535;
}

.links ul {
    list-style: none;
    flex-wrap: wrap;
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0.5% 1%;
}

/* ## General Styles ## */

.main-content {
    padding: 0 1rem;
}

/* ## Picture Gallery Styles ## */

#gallery-header {
    font-size: 150%;
    text-align: center;
}

.picture-gallery {
    display: flex;
    justify-content: center;
    gap: 0.5%;
}

.picture-gallery figure {
    display: none;
}

.picture-gallery img {
    width: 100%;
    margin-bottom: 1rem;
}

.picture-gallery button {
    font-size: 300%;
    color: #c0caf5;
    background-color: #353535;
}

.picture-gallery button:hover {
    color: #7aa2f7;
}

.thumbnail-display {
    display: flex;
    justify-content: start;
    border: 1px dotted #c0caf5;
    padding: 0px;
    overflow-x: auto;
    height: 10%;
}

.thumbnail-display img {
    width: 100%;
    min-width: 130px;
    border: 10px solid transparent;
    margin-left: 0;
}

figure.active img,
img.active {
    border: 10px solid #c0caf5;
}

figure.active {
    display: block;
    width: 50%;
    text-align: center;
    font-weight: bold;
    min-width: 220px;
}

/* ## F1 Schedule Table Styles ## */
#schedule-div {
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    overflow-x: auto;
}

#f1-schedule {
    background-color: #353535;
    color: #7aa2f7;
    width: 100%;
    min-width: 750px;
}

#f1-schedule th,
#f1-schedule td {
    border: 1px solid #c0caf5;
    padding: 6px;
    background-color: #353535;
    color: #7aa2f7;
}

#f1-schedule th,
#schedule-title-row th {
    background-color: #2a2a2a;
    color: #c0caf5;
    text-align: center;
}

#schedule-title-row th {
    font-size: larger;
}

/* Resume Page Styles */

#resume-page {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#resume-pdf {
    width: 85%;
    height: 70rem;
}

/* Video Page Styles */

#video-page {
    text-align: center;
}

#video-embed {
    width: 60vw;
    height: 60vh;
}

/* Projects Page Styles */

#projects-header {
    text-align: center;
}

#project-deck {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.project-card {
    background-color: grey;
    border: 3px solid #7aa2f7;
    width: 35vw;
    height: 30vh;
    border-radius: 10%;
    overflow-y: auto;
    padding: 0.5% 1%;
}

.project-card-title {
    text-align: center;
}

.project-image {
    width: 80%;
}

.project-card ul {
    list-style-type: none;
}
